.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 12%;
    background: rgb(0 0 0 / 30%);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    opacity: 0; 
    pointer-events: none; 
    transition: opacity 0.5s ease; 
}


.header-visible {
    opacity: 1;
    pointer-events: all; 
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 25px var(--main-color);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
    opacity: 0;

}

@media (width <= 1063px) {
    .menu-icon {
        position: relative;
        left: 5px;
        display: block;
        opacity: 1;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 35%;
        background: rgb(0 0 0 / 80%);
        backdrop-filter: blur(20px);
        display: none;
        flex-direction: column;
        padding: 1rem 3%;
        border-bottom-left-radius: 2rem;
        border-left: 1px solid var(--main-color);
        border-bottom: 1px solid var(--main-color);
        text-align: center;
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }

    .logo {
        font-size: 2rem;
    }
}
