.projects {
    background: var(--bg-color);  
    color: black;
}

.projects h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    color: white;
    text-align: center;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.projects-box {
    background-color: #0a0e13;
    color: white;
    height: 300px;
    border-radius: 3rem;
    border: 1px solid var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.projects-box:hover {
    transform: scale(1.03);
}

.projects-box .projects-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;  
    align-items: baseline;
    padding: 5rem;
}

.projects-info h4 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 2;
}

.projects-info p {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.7;
}

@media (max-width: 1280px) {
    .projects h2 {
        font-size: 5rem;  
        margin-bottom: 3rem;  
    }

    .projects-container {
        grid-template-columns: repeat(1, 1fr);  
    }

    .projects-box .projects-info {
        padding: 2rem;  
    }
}

@media (max-width: 991px) {
    .projects h2 {
        font-size: 4rem;  
    }

    .projects-info h4 {
        font-size: 2.5rem;  
    }

    .projects-info p {
        font-size: 1.4rem;  
    }
}

@media (max-width: 768px) {
    .projects-container {
        gap: 1.5rem;  
    }

    .projects-box {
        height: 250px;  
    }
}
